|      |      | 
| ---- | ---- | 
| Journal:|Sustainability (ISSN 2071-1050)|
|Manuscript ID:| sustainability-1485080|
|Type:|Article|
|Title:|NEVs Supply Chain Coordination with Financial Constraint and Demand Uncertainty|
|manuscripts:|P.11 - figure 11. Data generation code|
|Code authors:|Yongjian Li$^*$ |
|Last modify:|2021-01-12|
|version:|Python 3.6.5, sympy >= 1.3|

In [1]:
from sympy import *
from sympy.stats import *
import numpy as np
import pandas as pd
# init_printing(use_unicode=True)
import sympy
sympy.__version__

'1.9'

In [2]:
p, w, c, s, B, b, r, alpha, theta, q, a, x, r, mu, sigma, y = symbols(
    "p,w,c,s,B,b,r,alpha,theta,q,a,x,r,mu,sigma,y")

In [3]:
# Initial parameter values
parameter = {p: 10, c: 4, s: 3, w: 6, theta: 0.8, b: 3, B: 100, r: 0.05,
             mu: 100, sigma: 100}

#### (see manuscript P(8) figure 8.)


\begin{align}
&F^{-1}(\alpha) \\
&\tilde{\pi}(\tilde{q}^c) =q(p-c)-(p-s) \int_{0}^{q} F(x) d x-(c q-B)^+ r
\end{align}

- Suppose X is normally distributed with $\mu=100$,$\sigma=100$ 
- CDF,exp1: $F(x) = \alpha$

In [4]:
X = Normal(x, mu, sigma).subs(parameter)
exp1 = Eq(cdf(X)(x), alpha)
exp1

Eq(erf(sqrt(2)*(x - 100)/200)/2 + 1/2, alpha)

- inverse exp1: $F^{-1}(\alpha) = x ,\quad \{0\leqslant \alpha \leqslant 1\}$

In [5]:
i_cdf = solve(exp1, x)[0]
i_cdf

100*sqrt(2)*erfinv(2*alpha - 1) + 100

In [6]:
# Convert a SymPy expression into a function that allows for fast numeric evaluation.
f = lambdify(alpha, i_cdf, modules=['numpy', 'sympy'])

x_0 = [i/1000 for i in range(1, 1000)]

dt = {
    "x_0": x_0,
}

df = pd.DataFrame(dt)
df['f(x)'] = df['x_0'].map(f)
df1 = df.copy()
df1['f(x)'] = df1['f(x)'].map(int)
df1 = df1.drop_duplicates(subset=['f(x)']).reset_index(drop=True).copy()
df1

       x_0  f(x)
0    0.001  -209
1    0.002  -187
2    0.003  -174
3    0.004  -165
4    0.005  -157
..     ...   ...
422  0.995   357
423  0.996   365
424  0.997   374
425  0.998   387
426  0.999   409

[427 rows x 2 columns]

In [7]:
df1.query("`f(x)`==0")

       x_0  f(x)
113  0.157     0

In [8]:
# df1.iloc[::10].to_csv("inverse(CDF)",index=None,sep='\t')

In [44]:
expr1 = ((p-s) *x +B*(1+r))/(c*(1+r)-s)
expr1

(B*(r + 1) + x*(p - s))/(c*(r + 1) - s)

In [45]:
f2 = lambdify(x, expr1.subs(parameter), modules=['numpy', 'sympy'])

piqc = df.copy()
piqc['f(x)'] = piqc['f(x)'].map(float)
piqc['f(x)'] = piqc['f(x)'].map(f2)
piqc

       x_0         f(x)
0    0.001 -1131.802179
1    0.002 -1008.094348
2    0.003  -932.039142
3    0.004  -876.207388
4    0.005  -831.733760
..     ...          ...
994  0.995  2173.400427
995  0.996  2217.874055
996  0.997  2273.705808
997  0.998  2349.761014
998  0.999  2473.468845

[999 rows x 2 columns]

$\tilde{\pi}(\tilde{q}^c) =q(p-c)-(p-s) \int_{0}^{q} F(x) d x-(c q-B)^+ r$

In [29]:
pic = q*(p-c) - (p-s)*integrate(cdf(X)(x),(x,0,q))- Max(0,(c*q-B))*r
pic

q*(-c + p) - r*Max(0, -B + c*q) - (p - s)*(q*erf(sqrt(2)*q/200 - sqrt(2)/2)/2 + q/2 + 50*sqrt(2)*exp(-1/2)*exp(q/100)*exp(-q**2/20000)/sqrt(pi) - 50*erf(sqrt(2)*q/200 - sqrt(2)/2) - 50*erf(sqrt(2)/2) - 50*sqrt(2)*exp(-1/2)/sqrt(pi))

In [30]:
pic =pic.subs(parameter).evalf(6)
pic

-3.5*q*erf(sqrt(2)*q/200 - sqrt(2)/2) + 2.5*q - 169.379*exp(q/100)*exp(-q**2/20000) + 350.0*erf(sqrt(2)*q/200 - sqrt(2)/2) - 0.05*Max(0, 4.0*q - 100.0) + 408.321

In [40]:
pic.subs({q:409}).evalf(3)

272.

In [46]:
f3 = lambdify(q, pic, modules=['numpy', 'sympy'])


piqc['f(x)'] = piqc['f(x)'].map(f3)
piqc

       x_0               f(x)
0    0.001  -6732.49207158734
1    0.002  -5990.24508683419
2    0.003  -5533.91384905747
3    0.004  -5198.92332765768
4    0.005  -4932.08156242115
..     ...                ...
994  0.995  -1844.75951248423
995  0.996  -1898.12786553154
996  0.997  -1965.12596981149
997  0.998  -2056.39221736684
998  0.999  -2204.84161431747

[999 rows x 2 columns]

In [48]:
piqc.iloc[::30].to_csv("piqc",index=None,sep='\t')

In [62]:
piqc.query("`f(x)`<=466 & index <=206").to_csv("piqc_in",index=None,sep='\t')

- some help fun() note here.

In [5]:
## note here
## Given a value, calculate the cumulative probability
value = 0
cdf(X)(value).evalf()
## Given a value, calculate the cumulative probability
value = 189.380
P(X < value).evalf(subs=parameter)